

NET "A0" LOC = L13;
NET "A1" LOC = L14;
NET "A2" LOC = H18;
NET "B0" LOC = N17;
NET "B1" LOC = D18;
NET "B2" LOC = K17;
NET "C0" LOC = F12;
NET "C1" LOC = E12;
NET "C2" LOC = E11;
NET "C3" LOC = F11;
NET "C4" LOC = C11;
NET "C5" LOC = D11;
